.border-inner {
    box-shadow: inset 0 0 5px #404140;
}

.hints-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FBFBF9;
	border: 2px solid #404140;
	border-radius: 50px 50px 2px 50px;
	padding: 20px;
}

.hints-grid {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.hint-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	outline: none;
}

.hint-image {
	width: 64px;
	height: 64px;
	background-color: #D3D3D3;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 8px;
	border-radius: 8px;
}

.hint-title, .hint-description, .hint-tries-text {
	font-size: 10px;
}

.hint-tries {
	height: 16px;
}

.hint-details-container {
	position: relative;
	margin-top: 20px;
}

.hint-details {
	background-color: #D3D3D3;
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hint-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #D3D3D3;
	top: -8px;
}

.left-one-sixth {
	left: 12.5%;
}

.left-half {
	left: 50%;
}

.right-one-sixth {
	right: 12.5%;
}

.content {
    font-family: "PokeJersey", sans-serif;
}