table {
	font-size: 8px;
}

.auto-fit {
	font-size: clamp(5px, 8px, 8px);
	line-height: 1.5;
	overflow: hidden;
	width: fit-content;
}

.background-grid {
	background: url("../../../assets/bg_grid_green.png");
}

.col-header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.col-header::before {
	content: "";
	position: absolute;
	top: -6px;
	left: -6px;
	right: -5px;
	bottom: -5px;
	background-image: url("/src/assets/col-header.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}

.text-shadow {
	text-shadow: 1px 1px #000000;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #313131;
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: none;
}

