.inner-container {
    background-color: #313131;
}

.middle-container {
    background-color: #3D3D3D;
}

.outer-container {
    background-color: #797979;
}

.bg-grid-white {
    background: url("/src/assets/white-bg-grid.png");
}