.menu-item:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.menu-item {
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    background: linear-gradient(180deg, #363636 0%, #171717 100%);
}

.font-title {
    font-family: "PokeJersey", sans-serif;
}



